ody{
  padding: 0;
  margin: 0;
}

h1{
  color: #ccc;  //defines the border for the headings
  padding: 20px;
}

.newHeadings{
  text-decoration: underline;
  font-family: sans-serif;
  border: 5px solid #000;
  padding: 5px;
}

#firstHeading{
  font-family: serif;
  color: black;
}


#secondHeading{
  font-family: serif;
  color: black;
}

#myContainer{
  margin-left: auto;
  Margin-right: auto;
  display: block;
  width: 594px;
}
